<!-- About Section -->
<section id="about" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">NASIL ÇALIŞIR</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/gc.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Giriş ve Çıkış Takibi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">İki Webcam ve Yakınlık Sensörleri ile Anında Tanıma
                                    Giriş ve çıkış alanlarını takip etmek için iki webcam ve MZ80 yakınlık sensörleri kullanıldı. Sensörler, kişiyi algıladığında kameralar aktifleşir ve yüz tanıma işlemi başlar. Bu sistem, sadece yetkilendirilmiş kişilerin giriş yapmasını sağlar.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/verit.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Veritabanı Yönetimi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">AWS RDS ile Güçlü ve Esnek Depolama
                                    Proje, AWS RDS üzerinde yapılandırılmış bir veri tabanı ile çalışır. Raspberry Pi, yalnızca personel ID’sini login veya logout tablolarına iletir. Bir trigger fonksiyonu, ilgili ID’ye ait isim ve soyisim bilgilerini zaman damgası ile kaydeder. Bu yapı, verilerin güvenli ve düzenli şekilde işlenmesini sağlar.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/mobiluyg.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Mobil Uygulama Entegrasyonu</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Uzaktan Kontrol ve Anlık Bildirimler
                                    Mobil uygulama, kullanıcılara kapıyı uzaktan açıp kapatma, giriş-çıkış saatlerini görüntüleme, canlı yayın başlatma gibi işlevler sunar. Ayrıca giriş yapmış ancak çıkış yapmamış kişileri de listeleme özelliğiyle güvenliği artırır. WebSocket protokolü üzerinden Raspberry Pi ile iletişim sağlar.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/tuztanimatech.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Yüz Tanıma Teknolojisi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">LBPH Algoritması ile Doğruluk ve Hız
                                    Raspberry Pi 4 üzerinde OpenCV kütüphanesi ve LBPH algoritması kullanılarak yüz tanıma sistemi geliştirildi. Her kişinin yüzünden alınan 30 adet fotoğraf, yapay zeka modeli ile eğitildi. Bu sistem, hızlı ve güvenilir şekilde giriş kontrolü sağlar.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/led.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">LED ve Buzzer Geri Bildirimleri</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Durumlara Göre Görsel ve İşitsel Bildirimler

                                    Başarılı giriş: Yeşil LED yanar, buzzer öter ve servo motor kapıyı açar.
                                    Başarısız giriş: Kırmızı LED yanar, buzzer uyarı verir.
                                    Yüz kaydı: Mavi LED fasılalı yanar, buzzer kesikli öter.
                                    Canlı yayın: Beyaz LED sabit yanar.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted" >
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1_TY9uBBO9leUbRtlXmQBiug.png" alt="" style="background-color: white;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading">Node.js WebSocket API’si</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Komut ve Video İletimi İçin Çift API Yapısı
                                    Amazon EC2 üzerinde çalışan iki WebSocket API mevcuttur:
                                    
                                        Komut API’si (Port 9999): Raspberry Pi’ye personel ekleme/çıkarma gibi komutlar gönderir.
                                        Video API’si (Port 8080): Canlı yayın komutuyla Raspberry Pi’den video verisini alır ve mobil cihazlara iletir.
                                </p>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>