<!-- Team Section -->

<section id="contact" class="bg-light-gray" style="padding:100px 0 ;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="margin-bottom:100px ;">Ekİp</h2>
                
            </div>
        </div>
        <style>
            .team-member {
                text-align: center;
                margin-bottom: 30px;
            }
            .team-member img {
                max-width: 100%;
                height: auto;
                border-radius: 50%; /* Yuvarlak resimler */
            }
            .team-member h4 {
                margin-top: 15px;
                font-size: 2.1rem;
                color: rgb(237, 237, 237);
            }
            
        </style>

    
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/akif.jpg" alt="Üye 1">
                        <h4>Mehmet Akif Ersoy</h4>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/nazanin.jpg" alt="Üye 2">
                        <h4>Nazanin Mommadzadeh</h4>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/muhammed.jpg" alt="Üye 3">
                        <h4>Muhammed Çalışkan</h4>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/melis.jpg" alt="Üye 4">
                        <h4>Melis Kılıç</h4>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/kamer.jpg" alt="Üye 5">
                        <h4>Kamer Balta</h4>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/ayse.jpg" alt="Üye 6">
                        <h4>Ayşenur Navruz</h4>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/elif.jpg" alt="Üye 7">
                        <h4>Elif Nur Çakıcı</h4>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <img src="img/team/muharrem.jpg" alt="Üye 8">
                        <h4>Muharrem Dikilitaş</h4>
                        
                    </div>
                </div>
            </div>
        </div>
        
        

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted" style="padding-top:100px ; font-size: 2.5rem; color: rgb(237, 237, 237);">TÜM EKİBE EMEKLERİ İÇİN TEŞEKKÜRLER.</p>
            </div>
        </div>
    </div>
</section>
